/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Estilo para la barra superior */
header {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 1.5em;
    font-weight: bold;
}

/* Estilo para el contenido principal */
main {
    display: flex;
    flex-direction: column; /* Mantenemos el cuerpo en columna */
    justify-content: flex-start; /* Iniciar el contenido desde la parte superior */
    align-items: left; 
    gap: 20px; /* Espacio entre los elementos */
}

/* Estilo para el contenedor del mapa */
.map-container {
    width: 70%;
    height: 60vh;
    background-color: #38448f;
    border: 2px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
}

.content-row {
    display: flex;
    padding: 40px;
    gap: 40px; /* Espacio entre el mapa y el side-box */
    align-items: left;
    width: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

.side-box {
    width: 25%;
    background-color: #f5f5f5;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow-y: auto;
    height: 60vh;
}

.time-line {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.time-line input[type="range"] {
    width: 70%;
    cursor: pointer;
}


/* Estilo para la barra inferior */
footer {
    background-color: #004080;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}
footer a, footer button {
    color: white;
    background: none;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    text-decoration: none;
}
footer a:hover, footer button:hover {
    text-decoration: underline;
}
